langchain
langgraph
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain-text-splitters
tiktoken
sentence-transformers
huggingface-hub
pypdf
fastapi
uvicorn
python-dotenv
httpx
tenacity
httpx-sse